<%inherit file="base.html"/>
<%block name="title">Text Editor</%block>

<form action="${url('/save-text-object')}" method="post">
    <input type="hidden" name="key" value="${key}"/>
    <input type="hidden" name="class" value="${class_}"/>

<div style="width: 800px;margin:5px auto 5px auto">
<textarea name="text" id="text" cols="80" rows="20">
%for line in data:
${line['text']|h}
%endfor
</textarea>
</div>
<input type="submit" value="Save"/>
</form>

<script type="text/javascript">
    $(document).ready(function (e) {
        var config = {};
        config.toolbar = "MBO";

        config.toolbar_MBO = [
            ['Bold',
             'Italic',
             'Underline',
             '-',
             'NumberedList',
             'BulletedList',
             '-',
             'Cut',
             'Copy',
             'Paste',
             'PasteFromWord',
             '-',
             'Source']
        ];

        $("#text").width('173').ckeditor(config);
    });
</script>
